ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input {
    margin: 0;
    padding: 0;
}
html, body {    
    padding: 0px;
    margin: 0px;
}
body {
    background: transparent url(../images/background-body.jpg) repeat 0 0;
}
body {
    font-family: "Segoe UI",Calibri,"Myriad Pro",Myriad,"Trebuchet MS",Helvetica,Arial,sans-serif;
    font-size: 13px;
}

h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 15px;
}
h3 {
    font-size:14px;
    font-weight:bold;
    margin: 10px 0;
}
p {
    margin: 10px 0;
}
a {
    color: #1165BE;
    text-decoration: underline;
}
img {
    border: 0;
}
a:hover {
    text-decoration: none;
}
#mainContainer {
    width: 960px;
    padding: 20px;
    margin: 15px auto;
    background: #fff;
    overflow: auto;
    border-radius: 20px;
}

#loginContainer, #userContainer {
    width: 1000px;
    margin:0 auto;
    overflow: auto;
    margin-top:10px;    
}
#loginContainer form, #userContainer div.user-info {
    float:right;
    width: 500px; 
    background: #fff;
    padding:10px;
}
#userContainer div.user-info {    
    width:250px;
    overflow:auto;
    color: #B9B9B9;
    font-style: italic;
    line-height: 25px;
}
#userContainer div.user-info a.button {
    float:right;
}

#loginContainer form .form-item, #loginContainer form .submit-buttons {
    float:left;
    margin-right:10px;
    width: auto;
    border:0px;
    overflow:auto;
    margin:0px 5px 0px 5px;
    padding:0px;
}
 #loginContainer form .submit-buttons {
     float:right;
 }
#loginContainer label {
    color:#727272;
    text-transform: capitalize;
    margin-right:10px;
    width: auto;
}
#loginContainer input.text {
    width: 100px;   
    height: 18px;   
    border:1px solid #929292;
    background: #efefef;
}
#loginContainer input.button {
    padding:0px 5px 0px 5px;
    height: 20px;
}

div.source {
    overflow:auto;
    white-space: nowrap;    
    background: #E9E9E9;
    border:2px solid #D9D9D9;
    padding:5px;
    margin:25px auto 25px auto;  
    font:normal 14px 'Courier new', arial, verdana;
    border-radius: 4px;
}

.phpdefault { color:#0000BB; font-weight: normal;}
.phpkeyword { color:#007700; font-weight: normal;}
.phpstring  { color:#DD0000; font-weight: normal;}
.phpcomment { color:#FF8000; font-weight: normal;}
.comment {
    text-decoration: underline;
}

#sidebar-left {
    float:left;
    width:150px;
}
ul.navigation {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}
ul.navigation li {
    list-style-type: none;
    background:#E9E9E9;
    margin-bottom:5px;
    padding:3px;
}
ul.navigation li:hover {
    background:#D9D9D9;
}
ul.navigation li a {
    text-decoration: none;
    display:block;
}
ul.navigation li a:hover {
    text-decoration: underline;
}
div.content {
    float:right;
    width:790px;
}
p.intro {
    padding-bottom:10px;
    border-bottom:2px dotted #B9B9B9;
}
div.version {
    font-style: italic;
    font-weight: bold;
    margin-bottom:10px;
}
.ui-widget {
    font-size: 11px;
}
#message-container .list .message {
    list-style-position: inside;
    margin-left: 5px;
}
#message-container .namespace {
    padding: 5px 5px 5px 26px;
    border: 1px solid #000;
    margin-bottom: 10px;
}
#message-container .namespace-default {
    background: transparent url('../images/tick.png') no-repeat 5px 5px;
    border: 1px solid #A8CAD2;
}
#message-container .namespace-warning {
    background: #FEFDE2 url('../images/warning.png') no-repeat 5px 5px;
    border: 1px solid #E5E181
}
#message-container .namespace-error {
    background: #FFDFDF url('../images/cross.png') no-repeat 5px 5px;
	border: 1px solid #DD7777;
}
#message-container li.error {
    border: none;
}